$bg-grey-1: rgba(242, 242, 242, 1);
$bg-grey-2: rgba(170, 185, 191, 1);

$fg-blue-1: rgba(12, 53, 89, 1);
$fg-blue-2: rgba(9, 38, 64, 1);
$fg-blue-3: rgba(104, 123, 140, 1);

$fg-red-1: rgba(217, 62, 58, 1);
$fg-red-2: rgba(141, 33, 31, 1);

$breakpoint-mobile: 768px;